#cyto {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#193d52, #112a38 20%);
}

#handle {
    border-color: #85d1ff;
    background-color: #85d1ff;
}

#sidebar {
    opacity: 0.92;
    background-color: #72b9e0;
}
